.header {
    background-color: #212121;
    text-align: center;
    padding: 20px;
}

body {
    font-family: 'Varela Round', sans-serif;
}

.topnav {
    overflow: hidden;
    background-color:#212121;
    text-decoration: none;
    ;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-style:inherit
}

.shares  {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
}

.playlists {
    float: left;
    display: block;
    color: #00BCD4;
    text-align: center;
    padding: 14px 16px;
}

.personal-videos {
    float: left;
    display: block;
    color: #00BCD4;
    text-align: center;
    padding: 14px 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: center;
}

.grid>article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid>article img {
    max-width: 100%;
}

h2 {
    font-family: 'Varela Round', sans-serif;
    color: #00BCD4;
}

.text {
    padding: 0 20px 20px;
}

